<h1>New Recipe</h1>

<form action="/products" method="post">
  <div>Name: <input type="text" name="name" ></div> <br>
  <div>Price: <input type="text" name="price" ></div> <br>
  <div>Description: <input type="text" name="description" ></div> <br>
  <div>Inventory: <input type="text" name="inventory" ></div> <br>
  <div>Supplier_ID: <input type="text" name="supplier_id" ></div> <br>
    <input type="submit" value="Create Product">
</form>